<div [ngStyle]="navbg">
  <div class="background-container">
   
    <div class="background-image" *ngIf="showImage">
      
      <div class="content-container">
        <h1 class="larger-text">Unlimited Movies, TV </h1>
          <h1 class="larger-text"> Shows, and More!</h1>
<h5>Watch anywhere. Cancel anytime.</h5>
        <div class="button-container">
          <button class= "btn btn-light  fw-bold" (click)="showLogin()">sign-in</button>
          <div class="gap"></div>
          <button class="btn btn-light fw-bold" (click)="showRegister()" id = "btn2 ">sign-up</button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet *ngIf="!showImage"></router-outlet>
</div>
